.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg {
  color: #f06262;
  width: 32px;
  height: 32px;
  padding: 10px;
  cursor: pointer;
}

svg:hover {
  color:  #eb4242
}

svg:active {
  color:  #ee2222
}

.title {
  background-color: #060621;
  color: white;
  margin-bottom: 0;
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  border-radius: 12px 12px 0 0;
  font-size: 32px;
  text-align: center;
}

.editor {
  text-align: left;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-bottom: 0;
  border: none;
}

::-webkit-scrollbar {
  background-color: #263238;
}

::-webkit-scrollbar-thumb {
  background-color: #f06262;
}

.addCode {
  background-color:#627b88;
  color: white;
  margin-bottom: 0;
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  border-radius: 0 0 12px 12px;
  margin-top: 0;
  padding: 10px;
}